body {
    background-color: rgb(255, 242, 186);
}
.navbar-yellow {
    background-color: rgb(253, 228, 116);
}
/*~~~~~~~~~~~ colours ~~~~~~~~~~~~*/
.empty {
    background-color: rgb(255, 215, 130);
}
.grass, .bush, .tree, .hut, .house, .socket-row {
    background-color: rgb(113, 143, 88);
}
/*~~~~~~~~~~~~~ merge civ ~~~~~~~~~~~~~~*/
.socket {
    height:9vw;
    max-height: 90px;
    border-radius: 10px;
    width:9vw;
    max-width: 90px;
    background-repeat: no-repeat;
    background-size: contain;
}
.socket-row {
    width:59vw;
    max-width: 600px;
    margin:auto;
    padding:10px;
    border-radius: 10px;
}
.socket-row> div:nth-child(-n+6) {margin: 0;}
#position0, #position1, #position2 {
    margin: 3px;    
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
#position0 {
    height:8vw;
    max-height: 80px;
    width:8vw;
    max-width: 80px; 
}
#position2, #position1 {
    height:6vw;
    max-height: 60px;
    width:6vw;
    max-width: 60px;
}
.grass {background-image: url(./assets/images/grass.webp);}
.bush {background-image: url(./assets/images/bush.webp);}
.bushspecial {background-image: url(./assets/images/specialbush.webp);}
.tree {background-image: url(./assets/images/tree.webp);}
.treespecial {background-image: url(./assets/images/specialtree.webp);}
.hut {background-image: url(./assets/images/hut.webp);}
.hutspecial {background-image: url(./assets/images/hutspecial.webp);}
.house {background-image: url(./assets/images/house.webp);}
.housespecial {background-image: url(./assets/images/housespecial.webp);}
.info-container {
    margin-top: 5px;
    background-color: #76ADA8;
    border-radius: 10px;
    padding: 10px;
}
.info-container > button {
    background-color:#E6A99F;
    border: 1px solid #916c67;
}
.info-container > button:hover {
    background-color:#916c67;
}
/*~~~~~~~~~~~~~ snake ~~~~~~~~~~~~~~*/
.vh-75 {
    height: 75vh;
    max-height:80vw;
  }
#snake-panel {
    position:relative;
    height: 60vh;
    margin-bottom: 5px;
}
#gameCanvas {
    position: absolute;
    width: 60vh;
    max-width: 80vw;
    max-height: 80vw;
    height: 60vh;
    padding:30px;
    background-color: rgb(255, 233, 134);
    border: solid 2px rgb(134, 123, 71);
    border-radius: 20px;
}
#start-button {
    position:absolute;
    width: 60vh;
    max-width: 80vw;
    max-height: 80vw;
    height: 60vh;
    background-color: #98bb7c;
    border-radius: 20px;
}
.list-group-item {
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0) 0px solid;
}
#size4, #size6, #size10, #size20 {
    width:100%;
    min-width: 96px;
}
@media screen and (max-width: 576px) {
    .w-25 {
        width: 100% !important;
    }
  }
@media screen and (min-width: 992px) {
    .w-25 {
        width: 100% !important;
    }
}