body {
    background-color: rgb(255, 242, 186);
}
.navbar-yellow {
    background-color: rgb(253, 228, 116);
    color: rgb(253, 228, 116);
}
/*~~~~~~~~~~~ colours ~~~~~~~~~~~~*/
.empty {
    background-color: rgb(255, 215, 130);
}
.grass, .bush, .tree, .hut, .house, .socket-row {
    background-color: rgb(113, 143, 88);
}
/*~~~~~~~~~~~~~ merge civ ~~~~~~~~~~~~~~*/
.socket {
    height:9vw;
    max-height: 90px;
    border-radius: 10px;
    width:9vw;
    max-width: 90px;
    background-repeat: no-repeat;
    background-image: center;
    background-size: contain;
}
.socket-row {
    width:60vw;
    max-width: 600px;
    margin:auto;
    padding:10px;
    border-radius: 10px;
}
.socket-row> div:nth-child(-n+6) {margin: 0;}
#position0, #position1, #position2 {
    margin: 3px;    
    border-radius: 10px;
    background-repeat: no-repeat;
    background-image: center;
    background-size: contain;
}
#position0 {
    height:8vw;
    max-height: 80px;
    width:8vw;
    max-width: 80px; 
}
#position2, #position1 {
    height:6vw;
    max-height: 60px;
    width:6vw;
    max-width: 60px;
}
.grass {background-image: url(/assets/images/grass.png);}
.bush {background-image: url(/assets/images/bush.png);}
.bushspecial {background-image: url(/assets/images/specialbush.png);}
.tree {background-image: url(/assets/images/tree.png);}
.treespecial {background-image: url(/assets/images/specialtree.png);}
.hut {background-image: url(/assets/images/image-removebg-preview\ \(2\).png);}
.house {background-image: url(/assets/images/image-removebg-preview\ \(3\).png);}


#score-popup {
    position: absolute;
    left: 0;
    top: 0;
}
.special {
    background-color: #dacf35;
}
.info-container {
    background-color: #76ADA8;
    border-radius: 10px;
    padding: 10px;
}
.info-container > button {
    background-color:#E6A99F;
    border: 1px solid #916c67;
}
.info-container > button:hover {
    background-color:#916c67;
}
/*~~~~~~~~~~~~~ snake ~~~~~~~~~~~~~~*/
#snake-panel {
    position:relative;
    height: 60vh;
    margin-bottom: 5px;
}
#gameCanvas {
    position: absolute;
    width: 60vh;
    height: 60vh;
}
#start-button {
    position:absolute;
    width: 60vh;
    height: 60vh;
    background-color: #98bb7c
}
.list-group-item {
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0) 0px solid;
}